# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-generated
pubspec.lock

# Build outputs
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.gradle/
android/.gradle/
android/app/build/

# IDE files
.idea/
.vscode/
*.iml

# Misc
*.log
